*{
    overflow: hidden;
    margin: 0;
}

ul{
    position: fixed;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #b95b7a;
    max-height: max-content;
    
}

li{
    float: left;   
}

li a{
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
    padding: 14px 16px;
}

li a:hover{
    background-color: black;
    color: palevioletred;
}
.active{
    background-color: rgb(189, 131, 153);
}